h1 {
    text-align: center;
    margin: 35px 0 20px 0 !important;
  }
  
.containerContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    width: 500px;
    align-items: center;
    text-align: center;
    margin: 35px 0 20px 0 !important;
    background-color: var(--color2);
    
}

